/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* * {
  background: rgb(255, 172, 28); 
} */

body {
  /* background: purple;  */
    background: rgb(255, 172, 28); 

}

.header {
  border-bottom: 5px solid #000;
  max-width: 100%;
}

.banner {
  height: 30vh;  
}

.stats {

}

.content-body {
height: 70vh;
  background-color: rgb(242, 240, 240);
}
